* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "DM Sans", sans-serif;
  background-image: url("../img/bg-desktop-light.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

header {
  align-items: center;
  text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 80px;
  background-color: aliceblue;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border: solid rgba(158, 158, 158, 0.726) 3px;
  display: flex;
  justify-content: space-around;
}
ul {
  display: flex;
  gap: 10px;
}
li {
  list-style: none;
}

h1 {
  color: rgb(156, 125, 192);
  font-weight: 800;
}

h1:hover {
  color: rgb(94, 75, 116);
}

a {
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
  color: rgb(156, 125, 192);
}

a:hover {
  color: rgb(94, 75, 116);
}

main {
  min-width: 1000px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

section {
  border-radius: 70px;
  width: 50%; /* Define a largura da section */
  margin: 0 auto; /* Centraliza a section na tela */
  padding: 20px; /* Adiciona um espaçamento interno */
  border-radius: 10px; /* Adiciona cantos arredondados */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra */
  display: flex;
  background-color: aliceblue;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

h2 {
  color: rgb(156, 125, 192);
  font-size: 2rem;
  padding-left: 90px;
  padding-bottom: 1rem;
  padding-top: 3rem;
}

input {
  width: 250px;
  height: 40px;
  padding: 1rem;
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.img1 {
  padding-top: 60px;
  padding-left: 5px;
}
.text {
  padding-top: 70px;
}

button {
  width: 100px;
  height: 25px;
  border-radius: 1rem;
  border: none;
  background-color: rgb(181, 145, 223);
  color: white;
  cursor: pointer;
  margin: 1rem 4.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

button:hover {
  background-color: rgb(156, 125, 192);
}

.avisos {
  color: rgb(89, 71, 109);
  border-radius: 70px;
  width: 38%; /* Define a largura da section */
  margin: 0 auto; /* Centraliza a section na tela */
  padding: 20px; /* Adiciona um espaçamento interno */
  border-radius: 10px; /* Adiciona cantos arredondados */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra */
  display: flex;
  background-color: rgba(240, 248, 255, 0.377);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  font-weight: 800;
}

aside {
  border-radius: 70px;
  width: 50%; /* Define a largura da section */
  margin: 0 auto; /* Centraliza a section na tela */
  padding: 20px; /* Adiciona um espaçamento interno */
  border-radius: 10px; /* Adiciona cantos arredondados */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra */
  display: flex;
  background-color: aliceblue;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 768px) {
  .section {
    width: 90%; /* Reduz a largura da section para telas menores */
  }
}
